<!-- Hi there, curious developer!-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content= "width=device-width, user-scalable=no">
    <meta name="description" content="Marco for Telefonica UK">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/xdp3ien.css">
    
    <!--Mobile Bubble Menu-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!--lightbox-->
    <link href="//cdn.rawgit.com/noelboss/featherlight/1.3.2/release/featherlight.min.css" type="text/css" rel="stylesheet" title="Featherlight Styles" />
    <script src="//cdn.rawgit.com/noelboss/featherlight/1.3.2/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>

    <!--favicon-->
    <link rel="icon" type="image/png" href="https://dl.dropboxusercontent.com/s/qisifwsj19ji6xf/FAVICON.gif?dl=0">
    <title>


  </head>
</html>