<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content= "width=device-width, user-scalable=no">
        <meta name="description" content="">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.typekit.net/xdp3ien.css">
        <link rel="stylesheet" href="https://use.typekit.net/oca5evh.css">

        <!--Mobile Bubble Menu-->
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />

        <!--Bootstrap-->
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!--lightbox-->
        <link href="//cdn.rawgit.com/noelboss/featherlight/1.3.2/release/featherlight.min.css" type="text/css" rel="stylesheet" title="Featherlight Styles" />
        <script src="//cdn.rawgit.com/noelboss/featherlight/1.3.2/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>

        <!--favicon-->
        <link rel="icon" type="image/png" href="https://dl.dropboxusercontent.com/s/e3zj6e8pameo14u/favicon-zoi.png?dl=0">

        <title>
        Zoi | Reuse and thrive
        </title>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141267999-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-141267999-1');
        </script>

<!-- CSS-->
<style media="screen">

        * {
        font-family: 'Arial', sans-serif;
        font-size: 16px;
        font-weight: 500;
        font-variant: normal;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        -webkit-font-smoothing: antialiased;
        }

        body, html {
        margin: 0px;
        height: 100%;
        background-color: transparent;
        }

</style>
<!--Other section styles-->
<style>
</style>
</head>
<body>
<section>
    <w3-container>
        <h3>Contact Form</h3>
            <form method="POST" action="{% url 'thanks.html' %}">
                {% csrf_token %}
                <label >Your name</label>
                <input name="contact_name" placeholder="name">
                <input name="contact_email" placeholder="email">
                <input type="submit">
                </form>
    </div>
    </w3-container>
</section>
</body>
</html>